<ion-content [fullscreen]="true">
  <form (ngSubmit)="loginUsuario()">
    <ion-back-button default-href="/home"></ion-back-button>
    <ion-card color="light" class="ion-text-center">
      <ion-card-header>
        <ion-card-title>FAZER LOGIN</ion-card-title>
      </ion-card-header>
      <ion-card-content> Digitar o e-mail e senha. </ion-card-content>
    </ion-card>

    <br />

    <ion-img
      src="assets/Fast_logo.png"
      alt="Logo Principal"
      class="logo-principal"
    >
    </ion-img>

    <ion-item line="full">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input
        type="text"
        name="email"
        [(ngModel)]="email"
        required
      ></ion-input>
    </ion-item>

    <ion-item line="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input
        type="password"
        name="senha"
        [(ngModel)]="senha"
        required
      ></ion-input>
    </ion-item>

    <div class="ion-text-center">
      <ion-button color="danger" type="submit" [disabled]="!email || !senha">
        Login
        <ion-icon slot="end" name="enter-outline"></ion-icon>
      </ion-button>

      <ion-button color="warning" type="button" (click)="cadastroPage()">
        Cadastro 
        
      </ion-button>
    </div>
  </form>
</ion-content>
