<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button default-href="/home"></ion-back-button>
    <ion-title>Desenvolvedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <img src="assets/Foto-gabriel.jpeg" alt="Gabriel Vitor" class="foto-gabriel" />
        <h1>Gabriel Vitor Cristino</h1>
        <p>Matrícula: 22108412</p>
        <p>Turno: Manhã</p>
        <p>Unidade: Bonsucesso</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
