<ion-header>
  <ion-toolbar>
    <ion-back-button default-href="/home"></ion-back-button>
    <ion-title>Desenvolvedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <img src="assets/Foto-nolasco.png" alt="João Nolasco" class="foto-nolasco" />
        <h1>João Pedro Nolasco</h1>
        <p>Matrícula: 22107657</p>
        <p>Turno: Manhã</p>
        <p>Unidade: Bonsucesso</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
