<ion-content class="ion-padding custom-content">
  <ion-grid class="grid-container">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <h1 class="welcome-text">Bem-vindo</h1>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <ion-img
          src="assets/Fast_logo.png"
          alt="Logo Principal"
          class="logo-principal"
        >
        </ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="footer">
    <ion-button color="medium" fill="clear" (click)="goToSobre()" class="sobre-button">
      Sobre
    </ion-button>
    <ion-fab-button (click)="goTologin()">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </div>
  
  
</ion-content>
